.successMessage{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: solid 1px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
} 
.successMessage img {
    width: 400px;
    height: 300px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.successMessage img:hover {
    transform: scale(0.98);
}
.successMessage a {
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    background-color: #FFF000;
    color: black;
}