.glass{
    background: #ffffff75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    width: 30%;
    margin-left: 1.4rem;
    height: 90%
}
.glassRegister {
    background: #ffffff75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    margin-left: 1.4rem;
    backdrop-filter: blur(7.1px);
    max-width: 30%;
    height: 93%
} 
.glassRecovery {
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 5px solid #FFF000;
    width: 70%;
    height: 80%
}
.glassRecovery input {
    margin-top: -4rem
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}
 
.btn{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 60%;
    border-radius: 10px;
}

.btn:hover{
    background-color: #FFF;
    color: black;
    border: solid 3px #FFF000;
}

input[type='file']{
    display: none;
}